.tile {
	display: flex;
	height: 100%;
	width: 100%;
}


.flip-container {
	height: 100%;
	width: 100%;
	position: relative;
}


.flip-container * {
	position: absolute;
}


.open {
	background-color: #b3bc38;
	transform: translateZ(-0.005em);
	-webkit-transform: translateZ(-0.005em);
	visibility: hidden;
	-webkit-visibility: hidden;
}


.close {
	transform: translateZ(-0.3em);
	-webkit-transform: translateZ(-0.3em);
	cursor: pointer;
}


.coin {
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	animation: spin 0.1s linear;
	-webkit-animation: spin 0.1s linear;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

.coin * {
	visibility: visible;
}

@keyframes spin {
	0% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

.coin::before {
	position: absolute;
	transform: translateZ(-0.75em);
	-webkit-transform: translateZ(-0.75em);
}

.coin::after {
	left: 4.25em;
	position: absolute;
	height: 100%;
	width: 0.75%;
	z-index: -10;
	transform: rotateY(-90deg);
	-webkit-transform: rotateY(-90deg);
	transform-origin: 100% 50%;
	-webkit-transform-origin: 100% 50%;
}